{% extends '::base.html.twig' %}

{% block content_header %}
<div class="page-header">
    <h1>Contactos <small>Listado de contactos</small></h1>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span9">
        <div class="alert hide" id="message">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <span id="messageInner"></span>
        </div>

        <div class="tabbable">
                    <ul class="nav nav-tabs">
                        {% for idx in range(0, pages|length - 1) %}
                            <li{% if loop.index0 == 0 %} class="active"{% endif %}><a href="#{{ pages[idx] }}" data-toggle="tab">{{ pages[idx] }} <span class="badge badge-pill">{{ pager[idx].getNbResults }}</span></a></li>
                        {% endfor %}
                    </ul>
                    
                    <div class="tab-content">
                        {% for idx in range(0, pages|length - 1) %} 
                            <div class="tab-pane{% if loop.index0 == 0 %} active{% endif %}" id="{{ pages[idx] }}">
                              <table class="table table-bordered table-striped table-condensed">
                                <colgroup>
                                    <col class="span1">
                                    <col class="span1">
                                    <col class="span2">
                                    <col class="span2">
                                    <col class="span1">
                                    <col class="span1">
                                    <col class="span3">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th>Acciones</th>
                                        <th>Nombre <i class="icon-arrow-up"></i></th>
                                        <th>Email</th>
                                        <th>Teléfono / Fax</th>
                                        <th>Móvil</th>
                                        <th>Dirección</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for contact in pager[idx].getCurrentPageResults %}
                                    <tr id="contactRow{{ contact.id }}">
                                        <td class="centered"><input type="checkbox"></td>
                                        <td class="centered"><a href="{{ path('_contact_show', {'id': contact.id}) }}"><i class="icon-eye-open"></i></a> <a href="{{ path('_contact_edit', {'id': contact.id}) }}"><i class="icon-edit"></i></a> 
                                            <a data-toggle="modal" data-contact-id="{{ contact.id }}" data-contact-name="{{ contact }}" href="#" class="delete" title="¿Eliminar {{ contact }}?"><i class="icon-remove"></i></a>
                                        </td>
                                        <td><a href="{{ path('_contact_show', {'id': contact.id}) }}">{{ contact }}</a></td>
                                        <td>{{ contact.email }}</td>
                                        <td class="no-whitespace">Tel. {{ contact.phone }}
                                            {% if contact.fax %}
                                                <br/>Fax. {{ contact.fax }}
                                            {% endif %}
                                        </td>
                                        <td class="no-whitespace">{{ contact.mobile }}</td>
                                        <td>
                                            {{ contact.defaultAddress.address|raw }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="7" class="lefted">
                                            {% set next = pager[idx].getCurrentPage * pager[idx].getMaxPerPage %}
                                            {% set current = (pager[idx].getCurrentPage -1) * pager[idx].getMaxPerPage + 1 %}
                                            Mostrando de {{ current }} a {% if pager[idx].getNbResults < next %}{{ pager[idx].getNbResults }}{% else %}{{ next }}{% endif %}

                                            <div class="pull-right">
                                        Resultados por página: 
                            {% for pages in [10, 15, 20, 50, 100, "Todos"] %}
                                <a href="#{{ pages }}Results">
                                {% if pages == 10 %}
                                    <span class="badge badge-inverse">
                                {% else %}
                                    <span class="badge badge-info">
                                {% endif %}
                                {{ pages }}</span></a> 
                            {% endfor %}
                                            </div>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                            <p>Para los elementos seleccionados:  
                                <button type="button" class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i> Eliminar</button>
                                <button type="button" class="btn btn-mini"><i class="icon-magnet"></i> Fusionar</button>
                            </p>

                          <!-- Pagination -->       
                          {% if pager[idx].haveToPaginate %}
                            {{ pagerfanta(pager[idx], 'twitter_bootstrap_translated', {
                                'proximity': 2,
                                'prev_message': '&#x2190;',
                                'next_message': '&#x2192;',
                            'css_container_class': 'pagination pagination-centered'
                            }) }}
                          {% endif %}

                            </div>
                          {% endfor %}
                          
                        <div> <!-- tabcontent? -->
                          
                      </div> <!-- tabpanel? -->
                          
                    </div>

                </div>
    </div> <!-- fin de span9 -->
    
    <div class="span3">
        <h5>Filtros: </h5>
        <div id="activeFilters" style="margin-bottom: 9px;">
            {% for filter in ["Nombre: *Prueba*", "CIF: *1*", "Compras 2012 (>): 0 €", "Compras 2011 (>): 0 €"] %}
                <button id="test" type="button" class="btn btn-mini btn-inverse" style="margin-bottom:5px"><i class="icon-minus-sign icon-white"></i> {{ filter }}</button>
            {% endfor %}
            <button type="button" class="btn btn-mini btn-warning" id="clearAllFilters"><i class="icon-minus-sign icon-white"></i> Eliminar todos</button>
        </div>
        <form class="well form-vertical">
            <fieldset>
                <label>Nombre</label>
                <input type="text" placeholder="Nombre…">

                <label>Email</label>
                <input type="text" placeholder="Email…">

                <label>Teléfono / Fax / Móvil</label>
                <input type="text" placeholder="Teléfono…">

                <button type="submit" class="btn btn-primary"><i class="icon-refresh icon-white"></i> Añadir filtros</button>
            </fieldset>
        </form>

    </div> <!-- fin de span3 -->
    
    <div class="modal hide fade" id="deleteModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Confirmación necesaria</h3>
        </div>
        <div class="modal-body">
            <p>Vas a eliminar el contacto "<span id="ajaxContact"></span>". ¿Estás seguro?</p>
            <div class="alert">
                <strong>¡Cuidado!</strong> Se eliminarán todos los registros asociados de este contacto.
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="ajaxConfirmation">Sí</a>
            <a href="#" class="btn" data-dismiss="modal">No</a>
        </div>
    </div>
        
</div>
<a href="#" class="btn btn-primary" id="test-ajax-paginator">Page 2</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.modal').modal({
                show: false,
                backdrop: true
            })
            $(".delete").on('click', function () {
                $('#deleteModal').modal();
                $("#ajaxContact").text($(this).data("contactName"));
                $("#ajaxConfirmation").data().contactId = $(this).data("contactId");
                $("#ajaxConfirmation").on('click', function() {
                    $.ajax({
                        url: Routing.generate('_contact_delete',{ "id": $(this).data('contactId') }),
                        dataType: 'json',
                        error: function(data, err){
                            alert(err);
                        },
                        success: function(data){
                            $("#messageInner").html("<strong>¡Conseguido!</strong> " + data.message);
                            $("#message").removeClass("alert-error alert-warning").addClass("alert-success").show();
                            //$("#deleteModal").modal('hide');
                            //$("#contactRow" + data.id).remove();
                        }
                    });
        
                });
                
            })
            $("#activeFilters button").click(function() {
                // TODO: volver a buscar en la lista
                if ($(this).attr('id') == "clearAllFilters") {
                    $("#activeFilters button").hide('fast', function() {
                        $(this).remove();
                    });
                } else {
                    $(this).hide('fast', function() {
                        $(this).remove();
                        if ($("#activeFilters button").length == 1) {
                            $("#clearAllFilters").hide('fast', function() {
                                $(this).remove();
                            });
                        }
                    });
                }
            });
            function rowBuilder(contact) {
                var fax;
                if (contact.fax) {
                    fax = "<br/>Fax. " + contact.fax; 
                } else {
                    fax = "";
                }
                var route = Routing.generate('_contact_show',{ "id": contact.id });
                var address = "";
                var line2 = "";
                if (contact.addresses.length > 0) {
                    for (idx in contact.addresses) {
                        if (contact.addresses[idx].addressIsDefault == 1) {
                            if (contact.addresses[idx].address.addressLine2) {
                                line2 = " " + contact.addresses[idx].address.addressLine2;
                            } else {
                                line2 = "";
                            }
                            address = contact.addresses[idx].address.addressLine1 + 
                                line2 + 
                                "<br/>" + contact.addresses[idx].address.addressPostalCode + 
                                " " + contact.addresses[idx].address.addressLocation;
                        }
                    }
                }
                return {%- include 'ARANOVAContactBundle:Default:_contact_row.html.twig' -%};
            };
            // TODO: hacer correctamente paginado AJAX
            $(".pagination li a.ajax").click(function(event) {
                event.preventDefault();
                var page;
                if (this.text == '→') {
                    page = parseInt($('.pagination li.active a').html()) + 1;
                } else if (this.text == '←') {
                    page = parseInt($('.pagination li.active a').html()) - 1;
                } else {
                    page = this.text;
                }
                // TODO: mostrar loading...
                $.ajax({
                    url: 'contacts/list/' + page,
                    dataType: 'json',
                    error: function(data, err) {
                        alert("err");
                    },
                    success: function(data){
                        $('#Todos table tbody').html("");
                        $.each(data.contacts, function(){
                            $('#Todos table tbody').append(rowBuilder(this));
                        });
                        // TODO: actualizar paginador
                        $('.pagination li.active').removeClass("active");
                        $('.pagination li:nth-child('+(page-1)+')').addClass("active");
                        // TODO: actualizar javascripts para enlaces de acciones
                    },
                });
            });
            $('#exampleTodos').dataTable({
                bProcessing: true,
                bServerSide: true,
                sDom: "<'row-fluid'<'span8'r>t<'row-fluid'<'span4'i><'span4'l>><'row-fluid'<'span12 pagination pagination-centered'p>>",
                sAjaxSource: 'contacts/jsonArray',
                sPaginationType: "full_numbers",
                oLanguage: {
                    "sLengthMenu": 'Resultados por página: '+
                        {% for pages in [10, 15, 20, 50, 100, "Todos"] %}
                        '<a href="#{{ pages }}Results">{% if pages == 10 %}<span class="badge badge-inverse">{% else %}<span class="badge badge-info">{% endif %}{{ pages }}</span></a> ' +
                        {% endfor %}
                        ''
                }
            });
        });
    </script>

{% if app.user %}
    {#{ contact.createdAt | date("d/m/Y g:i a", app.user.timezone) }#}
{% else %}
    {#{ contact.createdAt | date("d/m/Y g:i a") }#}
{% endif %}
{% endblock %}