<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/aranovaaranet/js/bootstrap/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/aranovaaranet/css/aranet.css') }}" type="text/css" media="all" />
		{% endblock %}
        <title>{% block title %}ARANet{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">
        <div class="container-fluid">
	        <div class="row-fluid">
	        	<header>
    	    	{% include 'ARANOVAARANetBundle::_menubar.html.twig' %}
	        	{% block content_header %}
                {% endblock %}
				</header>	
			</div>
			
        	<div class="row-fluid">
    			<div class="span9">
      				<!--Body content-->
      				{% block content %}
                	{% endblock %}
    			</div>
    			<div class="span3">
      				<!--Sidebar-->
      				{% block sidebar %}
                	{% endblock %}
    			</div>
        	</div>
        </div>
		{% block javascripts %}
        <!-- Javascript -->
        <script type="text/javascript" src="{{ asset('bundles/aranovaaranet/js/jquery-1.7.2.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/aranovaaranet/js/bootstrap/js/bootstrap.js') }}" ></script>
		{% endblock %}
    </body>
</html>
